@font-face {
  font-family: 'mr_GuardianCircusG';
  src: url('/fonts/mr_GuardianCircusG.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Evolventa';
  src: url('/fonts/Evolventa.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Evolventa';
  src: url('/fonts/Evolventa_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-synthesis: weight;
}

@font-face {
  font-family: 'geometria';
  src: url('/fonts/geometria_light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'geometria';
  src: url('/fonts/geometria_lightitalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'geometria';
  src: url('/fonts/geometria_medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'geometria';
  src: url('/fonts/geometria_mediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'geometria';
  src: url('/fonts/geometria_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'geometria';
  src: url('/fonts/geometria_bolditalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'geometria';
  src: url('/fonts/geometria_extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  width: 100%;
  background: transparent;
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  position: relative;
}

body {
  margin: 0;
  display: block;
}